{{- range .Values.services }}
{{- $service := . -}}
{{- $serviceConfig := include "microservice.getServiceConfig" (dict "service" $service "root" $) | fromYaml -}}
{{- if $serviceConfig.config.tls }}
{{- if and $serviceConfig.config.tls.cert $serviceConfig.config.tls.key (not $serviceConfig.config.tls.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "microservice.serviceName" (dict "service" $service "root" $) }}-tls
  {{- with $.Values.namespace.name }}
  namespace: {{ . }}
  {{- end }}
  labels:
    {{- include "microservice.serviceLabels" (dict "service" $service "root" $) | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ $serviceConfig.config.tls.cert }}
  tls.key: {{ $serviceConfig.config.tls.key }}
{{- end }}
{{- end }}
{{- end }}
